<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.springwebproject.dao.BoardMapper">
  <select id="getBoard" resultType="kr.green.springwebproject.dao.Board">
    select * from board
  </select>
   <select id="setBoard" resultType="kr.green.springwebproject.dao.BoardMapper">
    insert into board (title,contents, author) 
    values (#{title}, #{contents},#{author})
  </select>
  
  <select id="getBoardId" resultType="kr.green.springwebproject.dao.Board">
    select * from board where number = ${number}
  </select>
  
   <select id="modifyBoard">
 	 update board set 
 	 title=#{board.title}, contents=#{board.contents}, author=#{board.author}
 	 where number = #{board.number} 
  </select>
  
</mapper>